/.quarto/
# site_libs/
# docs/

/.vscode/
.history/
# images/
_notes_on_website_design.md

# /_site/
.Rproj.user
# posts/
# package-lock.json
# package.json
yarn.lock
.dbxignore
static/
# netlify.toml
node_modules/
# /images/adult-services.png/
/Users/joey/brainworkup/images/jwt_fighton.jpg
local/
_local/
img/
data/
/_local/**
docs/faq/insurance.md
docs/pediatric-neuropsychology/nvld.qmd
docs/pediatric-neuropsychology/adolescent.qmd
docs/pediatric-neuropsychology/preschool.qmd
docs/pediatric-neuropsychology/school-age.qmd

.deno_lsp/log_2023-12-21T00_10_53.161998+00_00.txt
.deno_lsp/log_2023-12-21T00_30_07.467283+00_00.txt
.deno_lsp/log_2023-12-21T00_30_48.331045+00_00.txt
.deno_lsp/**.txt

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron


# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
LIBOPSCriminal-3-PanelOfPsychiatristsPsychologists.pdf
panel of expert witnesses.pdf
witnesses.pdf

resources/android-chrome-512x512.png
color-theme-dark.jsonc
transparent_colors.txt
# images/*.png
images/adhd.png
images/bwu-logo-transparent.png
# images/jwt_fitted.jpg

# build output
dist

# dependencies
node_modules/
.snowpack/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# vscode settings and dictionaries
.vscode

# webstorm settings and dictionaries
.idea

# package lock
package-lock.json